# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# MLflow and SQL local databases
mlruns/
mlflow.db

# OS specific
.DS_Store
Thumbs.db
